{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% block header %}
			<header class="header">
				{% include 'partial/header.twig' %}
			</header>
		{% endblock %}

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					{#Sorry, no content#}
					<div class="container">
                        {% for row in acf.custom_page_content %}

							{# Block image_text_fullcenter #}
                            {% if row.acf_fc_layout == "image_text_fullcenter" %}
								<div class="image_text_fullcenter d-flex position-relative {% if loop.first %}mb-5{% else %}my-5{% endif %}" style="background-image: url('{{row.image.url}}');">
									<div class="filter position-absolute w-100 h-100"></div>
									<div class="textContainer m-auto text-center">
                                        {% if row.pre_title %}<div class="pre-title">{{ row.pre_title }}</div>{% endif %}
										<h1 class="{% if row.pre_title %}title{% else %}title-strong{% endif %} c-white">{{ row.title }}</h1>
										<p class="subtitle c-white">{{ row.subtitle }}</p>
									</div>
								</div>
                            {% endif %}

                            {# Block breadcrumbs #}
                            {% if row.acf_fc_layout == "breadcrumbs" %}
                                {{ function('do_shortcode', '[wpseo_breadcrumb]') }}
                            {% endif %}

                            {# Block section_title #}
                            {% if row.acf_fc_layout == "section_title" %}
								<div class="section_title my-5">
									<h2 class="title">{{ row.title }}</h2>
									<p class="subtitle">{{ row.subtitle }}</p>
								</div>
                            {% endif %}

                            {# Block image_text_tooltip #}
                            {% if row.acf_fc_layout == "image_text_tooltip" %}
								<div class="image_text_tooltip w-100 h-auto my-5">
                                    {% for c in row.card %}
										<div class="custom-card position-relative p-2 size-{{c.size}}">
											<div class="tooltipContainer d-flex" style="background-image: url('{{c.image.url}}');">
												<div class="tooltip position-relative mr-auto my-auto ml-5 p-4">
													<h3 class="title">{{ c.title }}</h3>
													<p class="description">{{ c.description }}</p>
												</div>
											</div>
										</div>
                                    {% endfor %}
								</div>
                            {% endif %}

                            {# Block image_text_down #}
                            {% if row.acf_fc_layout == "image_text_down" %}
								<div class="image_text_down w-100 h-auto my-5 d-flex">
                                    {% for i in row.block %}
										<div class="custom-block position-relative {% if loop.first and row.block|length > 1 %}pr-2{% elseif loop.last %}pl-2{% endif %}">
											<img src="{{ i.image.url }}" alt="{{ i.image.alt }}" class="w-100">
											<div class="textContainer position-relative py-4">
												<h3 class="title">{{ i.title }}</h3>
												<p class="description">{{ i.description }}</p>
											</div>
										</div>
                                    {% endfor %}
								</div>
                            {% endif %}

                        {% endfor %}
					</div>
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'partial/footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
