{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block include_head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% block header %}
			<header class="header position-relative">
				{% include 'partial/header.twig' %}
			</header>
		{% endblock %}

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'partial/footer.twig' %}
				{% block include_footer %}
				{% endblock %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
